<div class="row d-flex justify-content-center mt-100 mb-100">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="card-title m-b-0">Our Prices</h4>
            </div>
            <ul class="list-style-none">
                <hr>
                <li class="d-flex no-block card-body"> <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div> <a href="#" class="m-b-0 font-medium p-0" data-abc="true">Shirt</a> <span class="text-muted">your casual-tees need love too (Silk/Cotton/Satin/Wool) </span> </div>
                    <div class="ml-auto">
                        <div class="tetx-right">
                            <h5 class="text-muted m-b-0">Rs.10</h5> <span class="text-muted font-16">/piece</span>
                        </div>
                    </div>
                </li>
                <hr>
                <li class="d-flex no-block card-body"> <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div> <a href="#" class="m-b-0 font-medium p-0" data-abc="true">Saree-Silk</a> <span class="text-muted">Be it fancy or just homely, we don't discriminate </span> </div>
                    <div class="ml-auto">
                        <div class="tetx-right">
                            <h5 class="text-muted m-b-0">Rs.49</h5> <span class="text-muted font-16">/piece</span>
                        </div>
                    </div>
                </li>
                <hr>
                <li class="d-flex no-block card-body"> <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div> <a href="#" class="m-b-0 font-medium p-0" data-abc="true">Designer Pieces</a> <span class="text-muted">We take uttermost care of it while cleaning </span> </div>
                    <div class="ml-auto">
                        <div class="tetx-right">
                            <h5 class="text-muted m-b-0">Rs.79</h5> <span class="text-muted font-16">/piece</span>
                        </div>
                    </div>
                </li>
                <hr>
                <li class="d-flex no-block card-body"> <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div> <a href="#" class="m-b-0 font-medium p-0" data-abc="true">Kurta</a> <span class="text-muted">Be it for Gents/Ladies or (Silk/Cotton/Satin/Wool/Rayon/Nylon) </span> </div>
                    <div class="ml-auto">
                        <div class="tetx-right">
                            <h5 class="text-muted m-b-0">Rs.8</h5> <span class="text-muted font-16">/piece</span>
                        </div>
                    </div>
                </li>
                <hr>
                <li class="d-flex no-block card-body"> <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div> <a href="#" class="m-b-0 font-medium p-0" data-abc="true">Blazer-Jacket</a> <span class="text-muted">For those proud or chilly moments (Silk/Cotton/Satin/Wool/Rayon/Nylon) </span> </div>
                    <div class="ml-auto">
                        <div class="tetx-right">
                            <h5 class="text-muted m-b-0">Rs.10</h5> <span class="text-muted font-16">/piece</span>
                        </div>
                    </div>
                </li>
                <hr>
                <li class="d-flex no-block card-body"> <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div> <a href="#" class="m-b-0 font-medium p-0" data-abc="true">Bedsheet-Double</a> <span class="text-muted">Sleep with both eyes closed (Silk/Cotton/Satin) </span> </div>
                    <div class="ml-auto">
                        <div class="tetx-right">
                            <h5 class="text-muted m-b-0">Rs.29</h5> <span class="text-muted font-16">/piece</span>
                        </div>
                    </div>
                </li>
                <hr>
                <li class="d-flex no-block card-body"> <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div> <a href="#" class="m-b-0 font-medium p-0" data-abc="true">Pant</a> <span class="text-muted">Lowers not treated low anymore (Silk/Cotton/Satin/Wool/Rayon/Nylon) </span> </div>
                    <div class="ml-auto">
                        <div class="tetx-right">
                            <h5 class="text-muted m-b-0">Rs.12</h5> <span class="text-muted font-16">/piece</span>
                        </div>
                    </div>
                </li>
                <hr>
                <li class="d-flex no-block card-body"> <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div> <a href="#" class="m-b-0 font-medium p-0" data-abc="true">Others</a> <span class="text-muted">We love surprises/challenges, so describe your product and we take care of it. </span> </div>
                    <div class="ml-auto">
                        <div class="tetx-right">
                            <h5 class="text-muted m-b-0">Rs.50</h5> <span class="text-muted font-16">/piece</span>
                        </div>
                    </div>
                </li>
                <hr>
            </ul>
        </div>
    </div>
</div>
